<div id="main-block">
  <h1 id="main-title">Cinema Ironhack</h1>
  <a href="/movies" class="btn" id="myBtn">Check the movies!</a>
</div>

<img id="bg" src="/images/cinema.jpg" alt="popcorn and movie pic" />
