<h4>Ironhack Cinema</h4>
<p>Click on the movie to check the showtimes!</p>

<div class="container">
  <% movies.forEach((movie) => { %>
  <div class="card" style="width: 14rem">
    <div class="card-body">
      <img src="<%- movie.image%>" class="card-img-top" alt="movie poster" />
      <h5 class="card-title"><%- movie.title %></h5>
      <a href="<%- movie._id%>" class="btn btn-primary">See more</a>
    </div>
  </div>
  <% }) %>
</div>
